AuthUserFile /home/JBuffenb/etc/passwd.htaccess
AuthType Basic
AuthName "Private"
require user buff hawks

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(([A-Za-z0-9\-]+/)*[A-Za-z0-9\-]+)?$ $1.php
